body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f8;
    color: #333;
}

header {
    background: #0a66c2;
    color: white;
    padding: 30px;
    text-align: center;
}

header a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 30px;
    margin: 20px;
    background: white;
    border-radius: 6px;
}

h2 {
    color: #0a66c2;
}

ul {
    list-style-type: square;
}

.project {
    margin-bottom: 15px;
}

button {
    background: #0a66c2;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background: #084d94;
}

.drive-btn {
    display: inline-block;
    margin-top: 10px;
    background: #34a853;
    color: white;
    padding: 12px 18px;
    text-decoration: none;
    border-radius: 4px;
}

.drive-btn:hover {
    background: #2c8c46;
}



.contact {
    text-align: center;
    padding: 50px 20px;
}

.contact-icons {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.contact-icons {
  font-size: 20px;
  cursor: pointer;
}

.contact-icons:hover {
  transform: scale(1.1);
  opacity: 0.85;
}

/* WhatsApp */
.fab fa-whatsapp {
  color: #25D366;
      transition: transform 0.2s ease, opacity 0.2s ease;

}

/* LinkedIn */
.linkedin {
  color: #0A66C2;
      transition: transform 0.2s ease, opacity 0.2s ease;

}

/* Gmail (Google Red – most recognizable) */
.gmail {
  color: #EA4335;
      transition: transform 0.2s ease, opacity 0.2s ease;

}




.resume-btn {
    display: inlineblock;
    padding: 12px 22px;
    background: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}


@media (max-width: 768px) {
    .contact-icons {
        flex-direction: row;
    }
}
